<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.game.xogame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".views.game.ModerationActivity"></activity>
        <activity android:name=".views.game.WinActivity" />
        <activity android:name=".views.game.RatingHistoryActivity" />
        <activity android:name=".views.game.ReportActivity" />
        <activity android:name=".views.profile.UserProfileActivity" />
        <activity android:name=".views.game.RatingGameActivity" />
        <activity android:name=".views.game.PlayActivity">
            <intent-filter>
                <action android:name="ACTIVITY_PLAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".views.game.GameInfoActivity" />
        <activity android:name=".views.profile.MoneyActivity" />

        <service
            android:name=".GamePush"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".views.profile.MyWinsActivity" />
        <activity android:name=".views.profile.MyGamesActivity" />
        <activity android:name=".views.profile.SettingActivity" />
        <activity
            android:name=".views.main.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".views.authentication.EditInfoActivity" />
        <activity
            android:name=".views.authentication.ConfirmPhoneActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".views.StartActivity" />
        <activity
            android:name=".views.authentication.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.game.RatingActivity" />
    </application>

</manifest>